{% extends 'base/main.html' %}


{% block title %}Смена пароля{% endblock title %}


{% block content %}

    <div class="container" style="height: 600px">
        <div class="row mt-5">
            <h1 class="">Сменить пароль</h1>
            <p >Используйте эту форму для смены пароля в вашем профиле:</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary mb-3">Сменить пароль</button>
            </form>
        </div>
    </div>

{% endblock content %}