{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<div class="container" style="margin-top: 100px">
    <figure class="highcharts-figure ">
        <div id="container"></div>
    </figure>

    <form style="width: 250px; margin: 0 auto" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="" class="form-label">{{field.label}}</label>
                {{field}}
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Проголосовать">
    </form>

</div>
<script>
    let loadData = () =>{
        fetch('/api/',{
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                renderChart(data.backend, data.frontend, data.fullstack, data.game, data.app)
            });
    }
    loadData()
    let renderChart = (backend, frontend, fullstack, game, app) =>{
        Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Что по душе?'
        },
        subtitle: {
            text: 'Голосование'
        },

        yAxis: {
            min: 0,
            title: {
                text: 'Всего'
            }
        },

        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Backend Dev',
            data: [backend]

        }, {
            name: 'Frontend Dev',
            data: [frontend]

        }, {
            name: 'Fullstack Dev',
            data: [fullstack]

        }, {
            name: 'Game Dev',
            data: [game]
        }, {
            name: 'App Dev',
            data: [app]
        }
        ]
    });
    }
    renderChart()
</script>
{% endblock %}