{% load static %}
<footer class="shop-footer">
		<!--End mc_embed_signup-->
	<div class="container-fluid">
	<div class="row" style="justify-content: center">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<h6>All rights reserved by Anton Glukhov</h6>
			<div class="newsletter-info">
				Все новости и информацию обо мне можно узнать перейдя в соцсети ниже по значкам. Добавляйтесь в друзья, подписывайтесь
				на youtube канал и записывайтесь на индивидуальные уроки.
			</div>
		</div>
	</div>
	<div class="social-links">
		<a class="footer-icon" href="https://vk.com/glukhov_anton_sergeevich" target="_blank" rel="noopener"><img src="{% static 'images/icons/vk.svg' %}" alt="Vkontacte"></a>
		<a href="https://www.youtube.com/channel/UCSkw4CpEs25T_wZc9T-UKSQ" target="_blank" rel="noopener"><img src="{% static 'images/icons/youtube.svg' %}" alt="Youtube"></a>
		<a href="https://www.instagram.com/_antonglukhov_/" target="_blank" rel="noopener"><img src="{% static 'images/icons/instagram.svg' %}" alt="LinkedIn"></a>
		<a href="https://github.com/AntonSergeevich?tab=repositories" target="_blank" rel="noopener"><img src="{% static 'images/icons/github.svg' %}" alt="Pinterest"></a>
	</div>
	</div>
</footer>